<div class="problem">
    <h1 class="problem__name">{{ tile.ejudge_short_name }}.&nbsp;«{{ tile.name }}»</h1>
    {% if type == 'problem' %}
        <div class="problem__score">
            Правильное решение&nbsp;&mdash; {{ tile.solved_award }} очков.
        </div>
    {% else %}
        <div class="problem__score">
            За&nbsp;правильное решение этой задачи вы&nbsp;получите приятный бонус, а&nbsp;не&nbsp;очки.
            Бонус можно будет получить здесь&nbsp;же.
        </div>
    {% endif %}
    <div class="problem__statement">
        <a href="{% url 'map:statement' tile.id %}" target="_blank">Условие задачи</a>
    </div>
    <div class="problem__id">
        Ответ сдайте в задачу {{ tile.ejudge_short_name }} в еджадже. После решения задачи обновите страницу.
    </div>
</div>
